.A {
    background-color: rgb(65, 33, 33);
    height: 300px;
    width: 70%;
    border: solid black 10px;
}
.B {
    background-color: white;
    height: 60%;
    width: 80%;
    border: solid rgb(49, 17, 229) 8px;
    margin: auto;
    margin-top: 45px;
}
.C {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 75px;
    padding-left: 120px;
    margin: auto;
    font-size: 17px;
}
.D {
    background-color: blue;
    height: 20px;
    width: 70%;
    margin: auto;
    margin-top: 5%;
    
}
.E {
    background-color: rgb(159, 9, 218);
    height: 25px;
    width: 40%;
    margin: auto;
}
.F {
    background-color: rgb(11, 176, 85);
    height: 20px;
    width: 60%;
    margin: auto;
}
.G {
    background-color: rgb(250, 243, 51);
    height: 20px;
    width: 50%;
    margin: auto;
}
.J {
    background-color: rgb(245, 33, 33);
    height: 20px;
    width: 70%;
    margin-top: 5%;
}
.I {
    background-color: rgb(41, 34, 100);
    height: 20px;
    width: 65%;
}
.H {
    background-color: rgb(34, 236, 64);
    height: 20px;
    width: 100%;
}