body {
    background-color: #D3d3d3;
}
.B {
    background-color: white;
    height: 500px;
    width: 50vw;
    border: dotted 10px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.C {
    background-color: yellow;
    height: 50px;
    width: 30%;
}
.D {
    background-color: rgb(215, 89, 11);
    height: 100px;
    width: 30%;
}
.E {
    background-color: rgb(19, 239, 34);
    color: white;
    font-size: 30px;
    padding: 50px;
    margin-left: 50px;
    margin-top: 50px;
}